:root{
    --primary-color:blue;
    --secondary-color:red;
    --font-clor:green;
}
#parent{
    width: 100%;
    border:1px solid gray;
    height: 400px;
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
}
#parent>div:nth-child(5){
    background-color: blue;
    grid-area: 2/2/5/4;
}
#parent>div:nth-child(1){
    grid-area: 1/1/3/2;
    background-color: brown;
    background-color:var(--primary-color);
}

#parent>div{
    width: 200px;
    border: 1px solid green;
    height: 200px;
    background-color: aqua;
    margin-right: 10px;
}
@media screen  and (max-width:768px;){
    #parent{
       
        grid-template-columns: repeat(3,1fr);
        
    }
}